@model IEnumerable<SocialNetworkApp.Core.Models.Concert>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Concerts</h2>

<ul class="concerts voffset4">
    @foreach (var concert in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @concert.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @concert.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @concert.Venue
                </span>
                <span class="genre">
                    @concert.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Concerts", new { id = concert.Id })">
                    Edit
                    </a> |
                    <a href="#" class="js-cancel-concert" data-concert-id="@concert.Id">
                    Cancel
                    </a>
                </div>
            </div>
        </li>
    }

</ul>

@section scripts
{
    <script>

        $(document).ready(function () {
            $(".js-cancel-concert").click(function (e) {
                var link = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you want to cancel this concert?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/concerts/" + link.attr("data-concert-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something failed!")
                                    });
                            }
                        }
                    }

                });
            });
              
        });
    </script>
    }