@model SocialNetworkApp.ViewModels.ConcertsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>


<ul class="concerts voffset4">
    @foreach (var concert in Model.UpcomingConcerts) 
    {
    <li>
        <div class="date">
            <div class="month">
                @concert.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @concert.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="artist">
                @concert.Artist.Name 
                @if (Model.ShowActions)
                {
                    <button data - user - id = "@concert.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
        }

            </span>
            <span class="genre">
                @concert.Genre.Name
            </span>
            @if(Model.ShowActions)
            {
            <button data-concert-id="@concert.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
            }            
        </div>     
    </li>
    }

</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { concertId: button.attr("data-concert-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("something failed!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("something failed!");
                    });
            });
        });
    </script>
    }
